<header class="site-header">

  <a class="site-title" href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}/assets/fdroid-logo-text.svg" alt="{{ site.header-title }}" />
  </a>
  <div class="cb-menu--outer on-white">
    {% include language-selector.html checkbox_menu_id="header-lang" hideOnPhone=true %}

    <div class="checkbox-menu icon ellipsis">
      {% assign menu_id = "header-ellipsis" %}
      <input type="radio" id="opener--{{ menu_id }}" name="checkbox-menu-item" />
      <label for="opener--{{ menu_id }}">&#9776;</label>
      <div class="checkbox-menu close-checkbox-menu">
        <input type="radio" id="closer--{{ menu_id }}" name="checkbox-menu-item" />
        <label for="closer--{{ menu_id }}">&#9776;</label>
      </div>
      <div class="cbm-content wide dropdown-menu">
        {% include underlined-search.html %}
        <div class="two-columns">
          <div class="community-links">
            <h5>Community</h5>
            {% include nav-generator.html nav_location="community" %}
            <div class="social-links">
              {% include nav-generator.html nav_location="social" %}
            </div>
          </div>
          <div class="main-links">
            <div class="cb-menu--outer second-level on-dark">
              {% include language-selector.html checkbox_menu_id="moreLinks-lang" secondLevel=true %}
            </div>
            {% include nav-generator.html nav_location="dropMenu" %}
            <br />&nbsp;<br />
            {% include nav-generator.html nav_location="drop2" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<nav class="site-nav">
  {% include nav-generator.html nav_location="internal" %}
</nav>
