{% comment %}
  The language chooser is now a checkbox/radio button hack that opens a dropdown list of the languages
   that can be scrolled through on small screens which link to the same page but in the different language.
{% endcomment %}

{% assign strings = site.data.strings.sidebars.lang %}

  <div class="checkbox-menu icon with-caret language-select {% if include.hideOnPhone %}hide-on-phone{% endif %}">
    <input type="radio" id="opener--{{ include.checkbox_menu_id }}" name="checkbox-menu-item{% if include.secondLevel %}--level-two{% endif %}" />
    <label for="opener--{{ include.checkbox_menu_id }}">Language select</label>
    <div class="checkbox-menu close-checkbox-menu">
      <input type="radio" id="closer--{{ include.checkbox_menu_id }}" name="checkbox-menu-item{% if include.secondLevel %}--level-two{% endif %}" />
      <label for="closer--{{ include.checkbox_menu_id }}">Language select</label>
    </div>
    <div class="cbm-content">
      <div>
        {% for lang in site.languages %}
          <a href="{% if lang != site.active_lang %}{{ site.baseurl }}/{{ lang }}{{ page.url }}{% endif %}"
             {% if lang == site.active_lang %}class="selected"{% endif %}>
            {{ site.data.languagenames[lang] }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
