{% for nav-item in site.data.navigation %}
  {% if nav-item.key and nav-item.locations contains include.nav_location %}
    {% assign text = site.data.strings.navigation[nav-item.key] %}
    {% assign title = site.data.strings.navigation[nav-item.title] %}
    {% if nav-item.external %}
      <a class="page-link {% if nav-item.class %} {{ nav-item.class }} {% endif %}" href="{{ nav-item.url }}" title="{{ title }}">{{ text }}</a>
    {% else %}
      <a class="page-link {% if nav-item.class %} {{ nav-item.class }}  {% endif %}{% if page.url contains nav-item.url %} current {% endif %}" href="{{ nav-item.url | prepend: site.baseurl }}" title="{{ title }}">{{ text }}</a>
    {% endif %}
  {% endif %}
{% endfor %}

