
{% comment %}
  See 'post.html' for reasoning on the below annoying loop
{% endcomment %}

{% assign searchUrl = 0 %}
{% for navItem in site.data.navigation %}
    {% if navItem.key == 'search_site' %}
        {% assign searchUrl = navItem.url %}
    {% break %}
    {% endif %}
{% endfor %}

<h3>{{ site.data.strings.sidebars.search.heading }}</h3>

<div>
  <form method="get" class="search-form" action="{{ site.data.navigation.[search_site] }} {{ searchUrl }}">
    <div class="search-input-wrp">
      <input type="search" class="search-input" name="q">
    </div>
    <input type="hidden" name="lang" value="{{ site.active_lang }}">
    <input type="submit" value="{{ site.data.strings.sidebars.search.search }}" class="material-button" />
  </form>
</div>
