
{% comment %}
  See 'post.html' for reasoning on the below annoying loop
{% endcomment %}

{% assign searchUrl = 0 %}
{% for navItem in site.data.navigation %}
    {% if navItem.key == 'search_site' %}
        {% assign searchUrl = navItem.url %}
    {% break %}
    {% endif %}
{% endfor %}

<form method="get" class="underlined-search-form" action="{{ searchUrl }}">
  <div class="underliner">
    <input type="search" placeholder="{{ site.data.strings.sidebars.search.heading }}" class="search-input" name="q" />
    <input type="hidden" name="lang" value="{{ site.active_lang }}" />
    <input type="submit" value="{{ site.data.strings.sidebars.search.search }}" title="{{ site.data.strings.sidebars.search.search }}" class="search-button" />
  </div>
</form>
