body {
    margin: 0;
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 $spacing-unit/2;
}

// set h1, h2, ... font sizes by scaling base font size
$heading-sizes: 3.0, 2.0, 1.5, 1.25, 1.0, 1.0;
@mixin heading-size($heading) {
    font-size: nth($heading-sizes, $heading) * $base-font-size;
}

h1 { @include heading-size(1); color: $text-color-light; font-weight: $bold-font-weight; }
h2 { @include heading-size(2); color: $text-color-light; font-weight: $bold-font-weight; }
h3 { @include heading-size(3); color: $text-color; font-weight: $base-font-weight; }
h4 { @include heading-size(4); color: $text-color; font-weight: $base-font-weight; }
h5 { @include heading-size(5); color: $text-color; font-weight: $bold-font-weight; }
h6 { @include heading-size(6); color: $text-color; font-weight: $bold-font-weight; font-style: italic }

a {
    color: $primary-color;
    transition: opacity .2s;
    text-decoration: none;

    &:visited {
        color: darken($primary-color, 15%);
    }
    &:hover {
        opacity: .65;
        text-decoration: underline;
    }
    &:active {
        opacity: .5;
    }
}

pre {
    white-space: pre-wrap;
}


@mixin button-dark($background-color) {
    line-height: $spacing-unit*1.5;
    padding: 0 $spacing-unit/2;
    background-color: $background-color;
    color: #fff !important;
    font-weight: $bold-font-weight;
    text-decoration: none;
    transition: background-color .2s;

    &:hover {
        opacity: 1;
        background-color: lighten($background-color, 10%);
        text-decoration: none;
    }
    &:active {
        opacity: 1;
        background-color: lighten($background-color, 20%);
    }
}

/**
 * ------------------------
 * Checkbox menu hack based on a version from CSS-Tricks and adapted for F-Droid by Dario Centrella
 * ------------------------
 */

// At the outset, use the following (customised) CSS-normaliser (aka reset) for consistency.
//   Only a small part of the normaliser has been used. For the full normaliser check out:
//   normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

// /**
//  * 1. Change the font styles in all browsers.
//  * 2. Remove the margin in Firefox and Safari.
//  * 3. Dario added this custom CSS to the normaliser because Firefox would not
//  *       use the prescribed font weight (300). At time if writing, Dario is in process of having
//  *       this fixed upstream.
//  */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; // /* 1 */
  font-size: 100%; // /* 1 */
  line-height: 1.15; // /* 1 */
  margin: 0; // /* 2 */
  font-weight: inherit; // ******************* 3 ********************
}

.site-wrapper {
    overflow: hidden; // stops the scale(1.5) (below) from introducing a horizontal scrollbar to the site on small devices.
}
.cb-menu--outer {
    position: relative;
    margin: 0 ($spacing-unit /2);
    line-height: 5em;
    max-height: 5em; // Without this you'll get a buggy hit-box below the buttons
    clear: both;
    text-align: right;

    html[dir=rtl] & {
        text-align: left;
    }
    .checkbox-menu & { // second level
        margin: 0;
    }
}
.checkbox-menu {
    position: relative;
    display: inline-block;
    label {
        display: table-cell;
        padding: 0 ($spacing-unit/2.5);
        cursor: pointer;
        transition: background-color .05s;
        text-align: right;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
        overflow: hidden;
        html[dir=rtl] & {
            text-align: left;
        }
    }
    [type="radio"]:hover ~ label{
        background-color: rgba(0,0,0, .04);
    }
    &.close-checkbox-menu [type="radio"]:hover ~ label {
        background-color: lighten($text-color, 4%);
    }
    [type="radio"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        margin: 0;
        z-index: 1;
        cursor: pointer;
    }
    .cbm-content .checkbox-menu { // ie. second level
        label {
            border-radius: 10px;
        }
        &.close-checkbox-menu > label {
            html:not([dir=rtl]) & {
                right: 0;
                position: fixed;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            html[dir=rtl] & {
                left: 0;
                position: fixed;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
    &.with-caret {
        $padding-caret-side: 27px;
        > label,
        > .close-checkbox-menu > label {
            html:not([dir=rtl]) & {
                padding-right: $padding-caret-side;
            }
            html[dir=rtl] & {
                padding-left: $padding-caret-side;
            }
            &:before {
                content: "";
                position: absolute;
                color: $text-color;
                font-size: $small-font-size;

                html:not([dir=rtl]) & {
                    right: 12px;
                }
                html[dir=rtl] & {
                    left: 12px;
                }
            }
        }
        > label:before { // the (down) caret itself
            display: block;
            top: 39px;
            border: 4px solid transparent;
            border-top-color: $text-color;
        }

        > .close-checkbox-menu > label:before {
            content: "\2716";
            color: #fff;
            display: inline-;

            html:not([dir=rtl]) & {
                right: $padding-caret-side/2 - 3;
            }
            html[dir=rtl] & {
                left: $padding-caret-side/2 - 3;
            }
        }
    }
}
.close-checkbox-menu {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    label {
        color: #fff;
        background-color: $text-color;
    }
}
.cbm-content {
    position: absolute;
    top: 99%;
    background-color: $text-color;
    color: white;
    padding: $spacing-unit / 2;
    display: none;
    border-radius: 10px;
    text-align: right;
    line-height: $small-font-size * 1.6;
    z-index: 2;

    h1,h2,h3,h4,h5,h6 {
        font-variant-caps: all-petite-caps;
        letter-spacing: 0.2em;
        color: lighten($text-color, 50%);
    }

    html:not([dir=rtl]) & {
        right: 0;
        border-top-right-radius: 0;
    }
    html[dir=rtl] & {
        left: 0;
        text-align:left;
        border-top-left-radius: 0;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    a {
        color: white;
        display: block;
        white-space: nowrap;
        text-decoration: none;
        padding: 5px;
        &:hover {
            background-color: lighten($text-color, 7%);
        }
        &.selected {
            background-color: lighten($text-color, 4%);
        }
    }

    .cbm-content { // second level
        html:not([dir=rtl]) & {
            text-align:left;
        }
        html[dir=rtl] & {
            text-align:right;
        }
    }
}
header {
    .cb-menu--outer:not(.second-level) {
        @include media-query($phone) {
            html:not([dir=rtl]) & {
                margin-right: 0;
            }
            html[dir=rtl] & {
                margin-left: 0;
            }
        }
        > .checkbox-menu > input[type="radio"]:checked ~ .close-checkbox-menu > label {
            position: fixed;
            top: 0px;
        }
    }
}
header .cbm-content {
    position: fixed;
    padding-top: 3em;
    top: 2.8em;
    bottom: 10%;
    > div {
        height: 100%;
        overflow: auto;
    }
    html:not([dir=rtl]) & {
        left: 64%;
        right: $spacing-unit;
        border-top-right-radius: 10px;
        @include media-query($tablet) {
            right: 0;
            left: 53%;
            border-top-right-radius: 0;
        }
        @include media-query($phone) {
            left: 34%;
        }
    }
    html[dir=rtl] &  {
        right: 64%;
        left: $spacing-unit;
        border-top-left-radius: 10px;
        @include media-query($tablet) {
            left: 0;
            right: 53%;
            border-top-left-radius: 0;
        }
        @include media-query($phone) {
            right: 34%;
        }
    }
    &.wide {
      html:not([dir=rtl]) & {
        left: 57%;

        @include media-query($tablet) {
            left: 34%;
        }
        @include media-query($phone) {
            left: 7%;
        }
      }

      html[dir=rtl] & {
        right: 57%;

        @include media-query($tablet) {
            right: 34%;
        }
        @include media-query($phone) {
            right: 7%;
        }
      }
    }
}

header .cb-menu--outer > .checkbox-menu > .cbm-content {
    html:not([dir=rtl]) & {
        @include media-query($tablet) {
            border-bottom-right-radius: 0;
        }
    }
    html[dir=rtl] & {
        @include media-query($tablet) {
            border-bottom-left-radius: 0;
        }
    }
}

[type="radio"]:checked ~ label {
    z-index: 2;
}
[type="radio"]:checked ~ label ~ .cbm-content {
    display: inherit; // fallback
    display: flex;
    flex-direction: column;
}
[type="radio"]:checked ~ label ~ .close-checkbox-menu {
  opacity: 1;
  z-index: 3;
}

// Checkbox menu customisers -----------------------


.on-white .checkbox-menu {} // Default
.on-dark  .checkbox-menu {
    > label {
        color: #fff;
    }
    &.with-caret > label:before {
        border-top-color: #fff;
    }
    > [type="radio"]:hover ~ label {
        background-color: rgba(255,255,255, .04);
    }
    .close-checkbox-menu > label,
    .cbm-content {
        color: #fff;
        background-color: $primary-color;
        @include shadow;
    }
    .close-checkbox-menu > [type="radio"]:hover ~ label {
        background-color: lighten($primary-color, 7%);
    }
}

// Bolder text on busy background
.on-busy  .checkbox-menu.text-button {
    label {
        font-weight: $bold-font-weight;
    }
}

.on-dark .cbm-content a:hover {
    background-color: lighten($primary-color, 7%);
}
.on-dark .cbm-content a.selected {
    background-color: lighten($primary-color, 4%);
}


header .checkbox-menu label {
    border-radius:10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

// Generates individual 'radiobox-hacked' menu-item with icons
//
// $iconWidthInPixels   You'll only need to provide the icon width here (eg. 47px)
// $bgImgDark:          \
// $bgImgDark2x:         \__ The image files placed in FDroid's 'assets/' folder eg. "icon_language-select_dark_2x.png"
// $bgImgWhite:          /
// $bgImgWhite2x:       /
// $bgYPos:             Default is center but you may want to tweak it.
//
@mixin checkbox-menuitem-with-icon ($iconWidthInPixels, $bgImgDark, $bgImgDark2x, $bgImgWhite, $bgImgWhite2x, $bgYPos: center) {
  label {
      width: $iconWidthInPixels;
      background-image:url("../assets/#{$bgImgDark}");
      background-repeat: no-repeat;
      background-position: center $bgYPos;
      background-size: $iconWidthInPixels;
      @media (-webkit-min-device-pixel-ratio: 1.05),
       (min-device-pixel-ratio: 1.05),
       (min-resolution: 192dpi) {
          background-image: url("../assets/#{$bgImgDark2x}");
      }
      html[dir=rtl] {
          background-position: center $bgYPos;
      }
  }
  .close-checkbox-menu > label {
      background-image:url("../assets/#{$bgImgWhite}");
      @media (-webkit-min-device-pixel-ratio: 1.05),
       (min-device-pixel-ratio: 1.05),
       (min-resolution: 192dpi) {
          background-image: url("../assets/#{$bgImgWhite2x}");
      }
  }
  &.with-caret label {
    width: $iconWidthInPixels + 3px;
    background-position: 14px $bgYPos;
    html[dir=rtl] & {
        background-position: 29px $bgYPos;
    }
  }
  .on-dark & label {
      background-image:url("../assets/#{$bgImgWhite}");
      @media (-webkit-min-device-pixel-ratio: 1.05),
       (min-device-pixel-ratio: 1.05),
       (min-resolution: 192dpi) {
          background-image: url("../assets/#{$bgImgWhite2x}");
      }
  }
}


.checkbox-menu.icon {
    > label,
    .close-checkbox-menu > label {
        font-size: 0em;
    }

    &:not(.ellipsis) {
        > label,
        .close-checkbox-menu > label {
            color: rgba(0,0,0,0);
        }
    }

    &.ellipsis {
        > label,
        > .close-checkbox-menu > label {
            width: 18px;
            @include media-query($phone) {
                width: 45px;
            }
            &:after {
                display: inline-block;
                position: absolute;
                left: 0;
                right: 0;
                text-align: center;
                content: '\22EE';
                font-size: $base-font-size;
                font-weight: bold;
                transform: scale(1.5);

                @include media-query($phone) {
                    content: '\2261';
                }
            }
        }
    }
}



// ----------------------------------------------
// END Checkbox hack
// ----------------------------------------------

.hide-on-phone {
    @include media-query($phone) {
        display: none;
    }
}

/** Remove default list styles from UL elements. */
@mixin reset-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

%shadow {
    @include shadow;
    position: relative;
}

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
