<!DOCTYPE html>
{% include html-tag.html %}

  {% include head.html %}

  <body>

    <div class="site-wrapper">

      {% include header.html %}

      <div class="main-content with-sidebar">

{% if site.active_lang == "ar" or site.active_lang == "fa" or site.active_lang == "he" or site.active_lang == "ug" %}
        <div class="article-area" dir="auto">
{% else %}
        <div class="article-area">
{% endif %}
          {{ content }}
        </div>

        <div class="sidebar">
          <div class="sidebar-widget language">
            <div class="cb-menu--outer on-white">
              {% include language-selector.html checkbox_menu_id="afterContent-lang" %}
            </div>
          </div>

          <div class="sidebar-widget">
            {% include_cached sidebar-search.html %}
          </div>

          <div class="sidebar-widget">
            {% capture donate %}{% include sidebar-donate.md %}{% endcapture %}
            {{ donate | markdownify }}
          </div>

          <div class="sidebar-widget sidebar-hidden">
            {% include sidebar-connect.html %}
          </div>

          <div class="sidebar-widget">
            {% include sidebar-news.html %}
          </div>

          <div class="sidebar-widget">
            {% include_cached sidebar-lastupdated-packages.html %}
          </div>

          <div class="sidebar-widget">
            {% include_cached sidebar-latest-packages.html %}
          </div>
        </div>

      </div>

      {% include footer.html %}

    </div>

  </body>

</html>
